.ly1{
    width: 100%;
    height: 100%;
}
.ly2{
    margin-top: 20px;
 background-color: white;
 height: 600px;
 padding-left: 1%;
 padding-right: 1%;
 color: aliceblue;
}


.subbt{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
    

}


.subbt:hover{
    transform: scale(1.04);
    background-color: #21e065;
}

@media (max-width: 1000px) {
.ly2{
    height: 460px;
}

.ly1{
    height: 520px;
}

}