

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="StudyPress | Education & Courses HTML" />
<meta name="keywords" content="academy, course, education, education html theme, elearning, learning," />
<meta name="author" content="ThemeMascot" />

<!-- Page Title -->
<title>StudyPress | Education & Courses</title>

<!-- Favicon and Touch Icons -->
<link href="{{url_for('static',filename='images/favicon.png')}}" rel="shortcut icon" type="image/png">
<link href="{{url_for('static',filename='images/apple-touch-icon.png')}}" rel="apple-touch-icon">
<link href="{{url_for('static',filename='images/apple-touch-icon-72x72.png')}}" rel="apple-touch-icon" sizes="72x72">
<link href="{{url_for('static',filename='images/apple-touch-icon-114x114.png')}}" rel="apple-touch-icon" sizes="114x114">
<link href="{{url_for('static',filename='images/apple-touch-icon-144x144.png')}}" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static',filename='css/jquery-ui.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static',filename='css/animate.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static',filename='css/css-plugin-collections.css')}}" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="{{url_for('static',filename='css/menuzord-skins/menuzord-rounded-boxed.css')}}" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="{{url_for('static',filename='css/style-main.css')}}" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="{{url_for('static',filename='css/preloader.css')}}" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="{{url_for('static',filename='css/custom-bootstrap-margin-padding.css')}}" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="{{url_for('static',filename='css/responsive.css')}}" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- Revolution Slider 5.x CSS settings -->
<link  href="{{url_for('static',filename='js/revolution-slider/css/settings.css')}}" rel="stylesheet" type="text/css"/>
<link  href="{{url_for('static',filename='js/revolution-slider/css/layers.css')}}" rel="stylesheet" type="text/css"/>
<link  href="{{url_for('static',filename='js/revolution-slider/css/navigation.css')}}" rel="stylesheet" type="text/css"/>

<!-- CSS | Theme Color -->
<link href="{{url_for('static',filename='css/colors/theme-skin-color-set-1.css')}}" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="{{url_for('static',filename='js/jquery-2.2.4.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="{{url_for('static',filename='js/jquery-plugin-collection.js')}}"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="{{url_for('static',filename='js/revolution-slider/js/jquery.themepunch.tools.min.js')}}"></script>
<script src="{{url_for('static',filename='js/revolution-slider/js/jquery.themepunch.revolution.min.js')}}"></script>

 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body class="">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     


    <div class="row">
        <div class="one half">1/2</div>
        <div class="one half">1/2</div>
      </div>








</body>
</html>