<!-- Document Type :HTML-->
<!DOCTYPE html> 

<!-- Start HTML, Language : English-United States-->
<html lang="en-us"> 

    <!--Head: Contains meta info-->
    <head>  

        
<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="StudyPress | Education & Courses" />
<meta name="keywords" content="academy, course, education, education html theme, elearning, learning," />
<meta name="author" content="ThemeMascot" />

<!-- Page Title -->
<title>StudyPress | Education & Courses </title>

<!-- Favicon and Touch Icons -->
<link href="../static/images/favicon.png" rel="shortcut icon" type="image/png">
<link href="../static/images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="../static/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="../static/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="../static/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/animate.css" rel="stylesheet" type="text/css">
<link href="../static/css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="../static/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="../static/css/style-main.css" rel="stylesheet" type="text/css">
<link href="../static/css/preloader.css" rel="stylesheet" type="text/css">
<link href="../static/quiz.css" rel="stylesheet" type="text/css">
<link href="../static/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<link href="../static/css/responsive.css" rel="stylesheet" type="text/css">
<link  href="../static/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>
<link  href="../static/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
<link  href="../static/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-2.2.4.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-plugin-collection.js"></script>
<script src="../static/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="../static/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    
    </head> 
    <body>
      <script src="../static/quiz.js"></script>





      <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container"><i class="navbar-brand" style="color:#21a9af;" ></i>
          <img src="{{url_for('static',filename='assets/img/logo-wide.png')}}"  style="width:290px;height:90px;"/>   
        </div>
    </nav>



<div style="background-color:#F2184F;width:100%;height:65px;color:white;text-align: center;font-size:36px;">
  <span id="minutes"></span>:<span id="seconds"></span>
</div>

      
      
    <div class="ly1">
      <div class="ly2">

        <form action="{{url_for('quiz')}}">
          <div style="background-color:black;">
          <p> select the  Web language:</p>
          <input type="radio" id="html" name="fav_language" value="1">
          <label for="html">javascript</label><br>
          <input type="radio" id="css" name="fav_language" value="0">
          <label for="css">Mongodb</label><br>
          <input type="radio" id="javascript" name="fav_language" value="0">
          <label for="javascript">Mysql</label>
        </div> 
          <br><br>

          <br>  
        <div style="background-color:black;">
          <p>Which database in Stuctured database:</p>
          <input type="radio" id="age1" name="age" value="0">
          <label for="age1">Mongodb</label><br>
          <input type="radio" id="age2" name="age" value="1">
          <label for="age2">Mysql</label><br>  
          <input type="radio" id="age3" name="age" value="0">
          <label for="age3">Firebase</label>
          
        </div>
          <br><br>
      
          <br>  
          <div style="background-color:black;">
          <p>Firebase is </p>
          <input type="radio" id="ae1" name="db" value="1">
          <label for="ae1">database</label><br>
          <input type="radio" id="ae2" name="db" value="0">
          <label for="ae2">Framework</label><br>  
          <input type="radio" id="ae3" name="db" value="0">
          <label for="ae3">Plugins</label><br><br>
        </div>
      
      <div style="padding-top:10px;text-align:center;">
          <input type="submit" value="Submit"  class="subbt"/>
      </div>
        
        </form>
        



      </div>
       </div>


  </body>
  </html>